* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: -webkit-linear-gradient(65deg, #66268a 50%, #f8efed 50%)
}

.container {
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: #fff6f4;
}

.header {
    color: #f8efed;
    background: #66268a;
    padding: 5px;
    margin: 15px 25px 25px 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control {
    margin: 10px;
    font-size: 20px;
    background-color: #65268a;
    caret-color: #f8efed;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #f8efed;
}

.form-control:focus {
    border: 4px solid #a3669d;
}

::placeholder {
    color: #f8efed;
}

form button {
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color: #f8efed;
    background: #089eff;
    margin: 0 170px 10px 0 ;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease-in;
}

form button:hover {
    background: #f8efed;
    color: #089eff;
}