<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sending App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <h1 class="header">Send E-mail</h1>
        <form action="/" method="post">
            <input class="form-control" type="text" name="name" placeholder="Name" required autofocus>
            <input class="form-control" type="email" name="email" placeholder="Email" required>
            <textarea class="form-control" name="message" rows="5" cols="23" placeholder="Message"></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>


</body>

</html>